body.square-avatars .quickPersonaMenuImg {
    border-radius: 4px;
}

#quickPersonaImg, .quickPersonaMenuImg {
    border-radius: 40%;
    border: 1px solid var(--black30a);
    box-shadow: 0 0 4px var(--black40a);
    outline: 2px solid transparent;
    width: 88%;
    height: 88%;
    object-fit: cover;
    object-position: center center;
    cursor: pointer;
    transition: all 0.25s ease;
}

.quickPersonaMenuImg.default {
    outline-color: var(--golden);
}

.quickPersonaMenuImg.selected {
    outline-color: var(--white70a);
}

#quickPersonaCaret {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    top: 2px;
    right: 2px;
    width: calc(var(--bottomFormBlockSize) / 3.2);
    height: calc(var(--bottomFormBlockSize) / 3.2);
    z-index: 10;
    font-size: calc(var(--bottomFormBlockSize) / 3.2);
    text-shadow: 0 0 4px var(--black50a);
}

#quickPersona {
    position: relative;
    width: calc(var(--bottomFormBlockSize) * 0.88);
    height: calc(var(--bottomFormBlockSize) * 0.88);
    order: 10;
}

#quickPersonaMenu {
    z-index: 30000;
    backdrop-filter: blur(var(--SmartThemeBlurStrength));
    box-shadow: none;
    --itemsPerRow: 5;
    --blockWidth: 45px;
}

body.big-avatars #quickPersonaMenu {
    --blockWidth: 53px;
}

#quickPersonaMenu li {
    width: 45px;
    height: 45px;
    padding: 0;
}

body.big-avatars #quickPersonaMenu li {
    width: 53px;
    height: 78px;
}

body.big-avatars .quickPersonaMenuImg {
    border-radius: 12px;
}

#quickPersonaMenu ul {
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: calc(var(--itemsPerRow) * var(--blockWidth) + 28px);
    justify-content: space-around;
    padding: 4px;
    gap: 4px;
    max-height: 70vh;
    max-height: 70svh;
    overflow-y: auto;
}
